<!DOCTYPE html>
<meta charset="utf-8">


<head>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-97821637-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<style>

		.container .jumbotron {

			border-radius: 0px;
			background-color: white;
		}

		#text {

			padding-left: 60px;
			font-size: 18px;
			
		}

		.hline { width:100%; height:1px; background: #fff }



		</style>

		




</head>



<body>

<div class="container">
	<div class="jumbotron">

		<h1>Matthew Milliken</h1>
		<p>A personal website of sorts...</p>

	</div> 

	<div class="hline"></div>


<div class="container" id="text">
	<p>Yeah, there's not much here at the moment. But <a href="/lander">here</a> are some tennis charts (beta) and <a href="https://github.com/mmnz">here's</a> my github</p>
</div>
</div>






</body>